li{
    list-style: none; /*消除圆点*/
    float:left;
    width: 167px;
    height: 48px;
    border: 1px solid darkgray;
    font-size:20px; /*文字大小*/
    line-height: 48px;
    text-align: center; /*文字水平居中*/
    background-color: gainsboro;
    /*margin:0 0 0 -10px;/*上 右 下 左*/
    /*padding: 0 10px;*/  /*上下   左右*/
}

li:hover{
    background-color: #000000;
    color: #FFFFFF;
}
a{
    text-decoration: none;
    color: #000000;
    display: block;
    width: 100%;
    height: 100%;
}
a:hover{
    color: #FFFFFF;
}

ul li ul{
    position: absolute;
    margin-left: -41px;
    margin-top:1px;
    display: none;
}
ul li ul li{
    float: none;
}
ul li:hover ul{
    display: block;
}